<a href="/content/<%= @content.id %>">back to content</a><br>
<h2><%= @content.title %> / words</h2>
<a href="/word/new?content_id=<%= @content.id %>">new word</a>
<br>
<br>
<% @words.each do |word| %>
  <div style="margin-top: 3pt">
  <span style="font-size: 15pt"><%= word.word %></span> <span style="color: gray">/ <%= word.translation %> </span>
  <small>
    <a href="/word/<%= word.id %>/edit">e</a>
    |
    <a href="/word/<%= word.id %>/delete">x</a>
  </small>
  </div>
<% end %>
